.background-photo{
  background-image: url("assets/xps-1gLdTsX3_70-unsplash.jpg");
  background-size: cover;
  padding: 50px;
}

.whitebox{
    z-index: inherit 2;
    background-color: white;
  margin: 50px;
  
}