.background-photo{
  background-image: url("assets/xps-1gLdTsX3_70-unsplash.jpg");
  background-size: cover;
  padding: 50px;
}

.whitebox{
    
    background-color: rgba(255, 255, 255, 0.911);
    margin: 70px;
    padding: 35px;
}

.{
  align-content: center;
}

footer{
  text-align: center;
}







/* Width at 168px and below */
@media screen and (max-width: 168px) {
  body {
    background-color: #333;
  }

  .whitebox {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  
  ..container,
  .media,
  .row,
  .col {
    width: 100%;
  }

  .mr-3,
  .media-body, {
    margin-top: 40px;
  }
}

/* Width at 320px and below */
@media screen and (max-width: 320px) {
  body {
    background-color: #333;
  }

  .whitebox {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  
  .container,
  .media,
  .mr-3,
  .media-body,
  .row,
  .col {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}


/* Additional Screen Sizes */

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  
  .whitebox {
    /* Box-model */
    width: 100%;
    
  }

  
  .container,
  .media,
  .row,
  .col {
    width: 40%;
    
  }

  .mr-3,
  .media-body, {
    margin-top: 40px;
  }
}