.background-photo {
  
  background-image: url("assets/xps-1gLdTsX3_70-unsplash.jpg");
  background-size: cover;
  padding: 50px;
}

.whitebox {
    
  background-color: rgba(255, 255, 255, 0.911);
  margin: 20px;
  padding: 5px;
}

.footer {
  
  text-align: center;
}


/* Width at 168px and below */
@media screen and (max-width: 168px) {
  body {
    background-color: #333;
  }
  .background-photo {
    width: 100%;
  }

  
  .whitebox, .container, .mr-3 {
    width: 100%;
  }
}



/* Width at 320px and below */
@media screen and (max-width: 320px) {
  body {
    background-color: #333;
  }
  
  .background-photo {
    width: 100%;
  }
    
  .whitebox, .container, .mr-3 {
    width: 100%;
  }
  
  
}


/* Additional Screen Sizes */

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  
  .background-photo {
    width: 100%;
  }
    
  .whitebox, .container, .mr-3 {
    width: 100%;
  }
}